{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="{{ path('hopitale_show', { 'id': medecin.id }) }}">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('hopitale_contact', { 'id': medecin.id }) }}">contacter l'administrateur</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<style>

    .message-bubble
    {
        padding: 10px 0px 10px 0px;
    }

    .message-bubble:nth-child(even) { background-color: #ddd; }

    .message-bubble > *
    {
        padding-left: 10px;
    }

    .panel-body { padding: 0px; }

    .panel-heading { background-color: #3d6da7 !important; color: white !important; }

</style>

    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="panel panel-default">
                {#<div class="panel-heading">Panel heading without title</div>#}
                <div class="panel-body">
                    <div class="container">

                        {% for value in text %}
                            <div class="row message-bubble">
                                <p class="text-muted">{{ value[0] }}</p>
                                <span>{{ value[1] }}</span>
                            </div>
                        {% endfor %}

                    </div>
                    <form action="{{ path("hopitale_contact_post", { 'id': medecin.id }) }}" method="post">
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" name="message" class="form-control">
                            <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Send</button>
                  </span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>





{% endblock %}
